<?xml version="1.0"?>
<robot name="industreal_tray_insert_round_peg_70mm">
    <link name="industreal_tray_insert_round_peg_70mm">
        <visual>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/1_5inTriangleBlockAdjustedZ_Right.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/1_5inTriangleBlockAdjustedZ_Right.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
