<?xml version="1.0"?>
<robot name="industreal_round_peg_62mm">
    <link name="industreal_round_peg_62mm">
        <visual>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/RectHard_2.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/industreal_pegs/RectHard_2.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
    </link>
</robot>
